<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>com.servlet.AddEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProjects</servlet-name>
        <servlet-class>com.servlet.AddProjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployee</servlet-name>
        <servlet-class>com.servlet.EditEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployeeAdmin</servlet-name>
        <servlet-class>com.servlet.EditEmployeeAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEmp</servlet-name>
        <servlet-class>com.servlet.SearchEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewClaim</servlet-name>
        <servlet-class>com.servlet.AddNewClaim</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitToManager</servlet-name>
        <servlet-class>com.servlet.SubmitToManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelSubmit</servlet-name>
        <servlet-class>com.servlet.CancelSubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteValues</servlet-name>
        <servlet-class>com.servlet.DeleteValues</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClaim</servlet-name>
        <servlet-class>com.servlet.DeleteClaim</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePendingClaims</servlet-name>
        <servlet-class>com.servlet.DeletePendingClaims</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>com.servlet.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUsers</servlet-name>
        <servlet-class>com.servlet.DeleteUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminClaimApprove</servlet-name>
        <servlet-class>com.servlet.AdminClaimApprove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadProPicture</servlet-name>
        <servlet-class>com.servlet.UploadProPicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClaim</servlet-name>
        <servlet-class>com.servlet.AddClaim</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClaims</servlet-name>
        <servlet-class>com.servlet.DeleteClaims</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetRead</servlet-name>
        <servlet-class>com.servlet.SetRead</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEmp1</servlet-name>
        <servlet-class>com.servlet.SearchEmp1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDublicate</servlet-name>
        <servlet-class>com.servlet.UserDublicate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpenseAmount</servlet-name>
        <servlet-class>com.servlet.ExpenseAmount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YearExpense</servlet-name>
        <servlet-class>com.servlet.YearExpense</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndividualExpense</servlet-name>
        <servlet-class>com.servlet.IndividualExpense</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditClaim</servlet-name>
        <servlet-class>com.servlet.EditClaim</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerClaimRequest</servlet-name>
        <servlet-class>com.servlet.ManagerClaimRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClaimDetails</servlet-name>
        <servlet-class>com.servlet.ClaimDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeDetails</servlet-name>
        <servlet-class>com.servlet.EmployeeDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPendingClaims</servlet-name>
        <servlet-class>com.servlet.EditPendingClaims</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateClaim</servlet-name>
        <servlet-class>com.servlet.UpdateClaim</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassword</servlet-name>
        <servlet-class>com.servlet.ForgetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonthlyClaimLimit</servlet-name>
        <servlet-class>com.servlet.MonthlyClaimLimit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>com.servlet.ChangePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/AddEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProjects</servlet-name>
        <url-pattern>/AddProjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployee</servlet-name>
        <url-pattern>/EditEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployeeAdmin</servlet-name>
        <url-pattern>/EditEmployeeAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEmp</servlet-name>
        <url-pattern>/SearchEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewClaim</servlet-name>
        <url-pattern>/AddNewClaim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitToManager</servlet-name>
        <url-pattern>/SubmitToManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelSubmit</servlet-name>
        <url-pattern>/CancelSubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteValues</servlet-name>
        <url-pattern>/DeleteValues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteClaim</servlet-name>
        <url-pattern>/DeleteClaim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePendingClaims</servlet-name>
        <url-pattern>/DeletePendingClaims</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUsers</servlet-name>
        <url-pattern>/DeleteUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminClaimApprove</servlet-name>
        <url-pattern>/AdminClaimApprove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadProPicture</servlet-name>
        <url-pattern>/UploadProPicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClaim</servlet-name>
        <url-pattern>/AddClaim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteClaims</servlet-name>
        <url-pattern>/DeleteClaims</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetRead</servlet-name>
        <url-pattern>/SetRead</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEmp1</servlet-name>
        <url-pattern>/SearchEmp1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDublicate</servlet-name>
        <url-pattern>/UserDublicate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpenseAmount</servlet-name>
        <url-pattern>/ExpenseAmount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YearExpense</servlet-name>
        <url-pattern>/YearExpense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndividualExpense</servlet-name>
        <url-pattern>/IndividualExpense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditClaim</servlet-name>
        <url-pattern>/EditClaim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerClaimRequest</servlet-name>
        <url-pattern>/ManagerClaimRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClaimDetails</servlet-name>
        <url-pattern>/ClaimDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeDetails</servlet-name>
        <url-pattern>/EmployeeDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPendingClaims</servlet-name>
        <url-pattern>/EditPendingClaims</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateClaim</servlet-name>
        <url-pattern>/UpdateClaim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassword</servlet-name>
        <url-pattern>/ForgetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonthlyClaimLimit</servlet-name>
        <url-pattern>/MonthlyClaimLimit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            50
        </session-timeout>
    </session-config>
</web-app>
