<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AddClaim</servlet-name>
        <servlet-class>com.servlet.AddClaim</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>com.servlet.AddEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProjects</servlet-name>
        <servlet-class>com.servlet.AddProjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployee</servlet-name>
        <servlet-class>com.servlet.EditEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployeeAdmin</servlet-name>
        <servlet-class>com.servlet.EditEmployeeAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEmp</servlet-name>
        <servlet-class>com.servlet.SearchEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewClaim</servlet-name>
        <servlet-class>com.servlet.AddNewClaim</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddClaim</servlet-name>
        <url-pattern>/AddClaim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/AddEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProjects</servlet-name>
        <url-pattern>/AddProjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployee</servlet-name>
        <url-pattern>/EditEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployeeAdmin</servlet-name>
        <url-pattern>/EditEmployeeAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEmp</servlet-name>
        <url-pattern>/SearchEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewClaim</servlet-name>
        <url-pattern>/AddNewClaim</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
